node_modules/
resources/
altv-server
altv-server.exe
altv-crash-handler
altv-crash-handler.exe
altv-voice-server.exe
modules/
data/
libnode.dll
libnodev2.dll
AltV.Net.Host*
server.log
server.toml
.altvpkgrc.json
yarn.lock
